body {
    background: url('../imgs/back_login.jpg');
}

.login {
    background-color: #bbbbbbe8;
    width: 50%;
    padding: 20px;
    border-radius: 15px;
    img {
        width: 30%;
        margin: 0 auto;
        display: table;
    }
}